  /* styles/globals.css */

  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap'); 
  @import url('https://fonts.googleapis.com/css2?family=Diphylleia&family=Poppins&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  .all-hero-wrap{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #111111;
  }

  html{
    background: #111111;
  }


  .cards-wrapper-outer{
    max-width: 100vw;
    overflow-x: scroll;
  }




  .heroSection{
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    background-color: #111111;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 2px;
  }

  :root{
    --main-color: #7541A3;
    --other-color:#212121;
    --second-color:#9e9e9e;
    --big-brand-name-font-size:60px;
    --medium-font-size:20px;
    --p-font:1.1rem;
  }

  .heroSection .img{
    width: 700px;
    right: 100px;
    /* right: -; */
    top: 100px;
    
  }
  
  .img.circle {
    margin-top: -300px;
    margin-bottom: 15rem;
    position: relative;
    z-index: 11;
    right: 0;
    top: 0;
  }

  .heroSection .img.shoe{
    z-index: 12;
    position: relative;
  }

  .hero-left-container-wrap {
    position: relative;
    margin-bottom: -1px;
}

  .heroSection .img.line{
    z-index: 11;
    left: 0px;
    top: 100px;
    width: 10px;
  }


  .img img{
    /* transform: scaleX(-1) rotate(25deg); */
  }

  .heroSection .hero-text {
    position: relative;
    margin: 0px 90px;
    display: flex;
    flex-direction: column;
    margin-top: 12rem;
}

  .heroSection .hero-text .first-text{
    font-size: var(--medium-font-size);
    /* font-size: 15px; */
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1px;
    /* font-family: 'Diphylleia', serif; */
    font-family: "Poppins", sans-serif;
  }
  .heroSection .hero-text span:nth-child(2) span{
    font-size: var(--big-brand-name-font-size);
    font-weight: 600;
    /* font-family: sans-serif; */
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.1px;
  }

  /* .hero-left-container-wrap{
    right: -8%;
    position: relative;
    top: -32%
  } */

  .circle .rounded-full{
    box-shadow: 8px 5px 90px 5px #43225D;
  }

  .style-gradient{
    width: 0px;
    height: 0px;
    box-shadow: 94px 7px 300px 66px rgba(255,159,13,1);
    position: fixed;
  }

  .text-stroke {
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: rgb(0, 0, 0);
    }

  .scroll-sensor{
    padding-top: 50px;
    text-align: center;
  }

  .count-box{
    border: 2px solid #008aff;
    width: 60vw;
    padding: 50px 30px;
    border-radius: 18px;
    display: flex;
    justify-content: space-between;
  }

  .count-box .count{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .count-box .count i{
    font-size: 1em;
    margin-bottom: 25px;
  }

  .count-box .count .number{
    font-size: 0.5em;
  }

  .main{
    position: relative;
    padding: 20px;
    margin-bottom: -1px;
  }

  .progress-hero{
    position: absolute;
    top: -120px;
    right: 120px;
    width: 10px;
    background: linear-gradient(to top, #008aff, #00ffef)
    /* height: 70vh; needed to be fixed, maximum 60vh */
  }

  .vectorImg{
    position: absolute;
    left: -300px;
    transform: scale(0.8);
  }

  /* container */

  .container-wrap-hero {
    display: grid;
    grid-template-columns: repeat(auto-fit, max(400px, 1fr));
    gap: 2rem;
    height: auto;
    width: 100%;
    text-align: center;
    background-color: #111111;
    justify-content: space-evenly;
    /* padding-bottom: 8rem; */
}

  .conainer-box {
    background-color: var(--other-color);
    padding: 43px 70px;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  .conainer-box img{
    width: 50px;
    height: auto;
  }


  .counter-top-wrapper{
    box-shadow: -- #43225D;
  }
  .conainer-box h1{
    font-size: var(--p-font);
    margin: 10px 5px;
  }

  .conainer-box p{
    color: var(--second-color);
    font-size: 10px;
  }

  .conainer-box i{
    font-size: 50px;
  }

  .box img{
    width: 100px;
    height: auto;
  }

  .aboutContainer{
    padding:0 120px;
  }

  .about{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .about-img img{
    width: 150rem;
    transform: rotate(45deg);
  }


  .about-text p{
    font-size: var(--medium-font-size);
  }

  .about-text a{
    background-color: var(--main-color);
    padding: 10px 25px;
    border-radius: 25px;
    transition: 0.5s;
  }
  .about-text a:hover{
    background-color: #5B3180;
  }
  /* responsive Start */

  @media (max-width: 1310px) {
    .heroSection .img {
      width: 650px;
      transition: 1s;
    }
    .heroSection .img.circle {
      right: -80px;
      transition: 1s;
    }
    :root{
      --big-brand-name-font-size:60px;
      --medium-font-size:20px;
      --p-font:1.1rem;
    }
    .about-img img{
      width: 160rem;
      transform: rotate(45deg);
    }
  }

  @media (max-width: 1044px) {
    .heroSection .img {
      width: 500px;
      transition: 1s;
      right: 1%;
    }
    .about-img img{
      width: 190rem;
      transform: rotate(45deg);
    }
    .img img{
      right: 130px;
      position: relative;
    }
    .heroSection .img.circle {
      right: 65px;
      transition: 1s;
      top: 110px;
    }
    :root{
      --big-brand-name-font-size:50px;
      --medium-font-size:15px;
      --p-font:.8rem;
    }
  }

  @media (max-width: 830px) {
    .heroSection .img {
      width: 500px;
      transition: 1s;
      right: 1%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .about{
    display: flex;
    flex-direction: column;
  }
  .about-img img {
    width: 200rem;
    transform: rotate(40deg);
    margin-bottom: 80px;
  }
  .about-img img{
    width: 210rem;
    transform: rotate(45deg);
  }
    .heroSection .img.circle {
      display: flex;
      justify-content: center;
      right: 0;
      transition: 1s;
      width: 10rem;
      height: auto;
    }

    .heroSection .img.circle div{
      width: 20rem;
      height: 20rem;
    }

    .img img {
      right: 50px;
    }
    .heroSection{
      flex-direction: column;
    }
    .hero-left-container-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .heroSection .hero-text {
      margin: 0px 20px;
      margin-top: 8rem;
  }
    :root{
      --big-brand-name-font-size:70px;
      --medium-font-size:15px;
      --p-font:1.1rem;
    }
  }

  @media (max-width: 598px) {
    .img img {
      right: 0;
      display: flex;
    }
    .heroSection .hero-text {
      margin-top: 4rem;
    }
    :root{
      --big-brand-name-font-size:50px;
      --medium-font-size:10px;
      --p-font:1rem;
    }
    .aboutContainer{
      margin-bottom: 50px;
    }
  }

  @media (max-width: 528px) {
    .img img {
      right: 0;
      display: flex;
    }
    .heroSection .hero-text {
      margin-top: 4rem;
    }
    .aboutContainer {
      padding: 0 75px;
  }
    :root{
      --big-brand-name-font-size:50px;
      --medium-font-size:10px;
      --p-font:1rem;
    }
    .about-text{
      text-align: center;
    }
  }

  @media (max-width: 386px) {
    .img img{
      right: 0;
      display: flex;
      width: 75%;
      height: auto;
    }
    .heroSection .hero-text {
      margin-top: 5rem;
    }
    :root{
      --big-brand-name-font-size:45px;
      --medium-font-size: 12px;
      --p-font:1rem;
    }
  }

  /* responsive Ends */



  /* clock */


  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#clock-wrapper{
  /* border: 1px solid white; */
  position: absolute;
  /* border: 2px solid blue; */
  left: 0;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 0;
  padding: 0;
  margin: 0;
  width: fit-content;
}
/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #acbaca;
} */

.clock{
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #acbaca;
    border-radius: 50px;
    /* box-shadow: 30px 30px 30px -10px rgba(0,0,0,0.15), inset 15px 15px 10px rgba(255,255,255,0.75), -15px -15px 35px rgba(255,255,255,0.55), inset -1px -1px 10px rgba(0,0,0,0.2); */
    transform: scale(50%);
}

.clock::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    background: #e91e63;
    border-radius: 50%;
    z-index: 1000;
    box-shadow: 0 0 0 1px #e91e63, 0 0 0 3px #fff, 0 0 5px 5px rgba(0,0,0,0.15);

}

.clock .numbers{
   position: absolute; 
   inset: 35px;
   background: #152b4a;
   border-radius: 50%;
   box-shadow: 5px 5px 15px #152b4a66, inset 5px 5px 5px rgba(255,255,255,0.55), -6px -6px 10px rgba(255,255,255,1);
}

.clock .numbers span{
    position: absolute;
    inset: 5px;
    text-align: center;
    text-align: center;
    color: #FFF;
    font-size: 1.25em;
    transform: rotate(calc(90deg * var(--i)));

}

.clock .numbers span b{
font-weight: 600;
display: inline-block;
transform: rotate(calc(-90deg * var(--i)));
}

.clock .numbers::before{
    content: '';
    position: absolute;
    inset: 35px;
    background: linear-gradient(#2169f3, #e91e63);
    border-radius: 50%;
    animation: animate 2s linear infinite;
}


@keyframes animate {
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}


.clock .numbers::after{
    content: '';
    position: absolute;
    inset: 38px;
    background: #152b4a;
    border-radius: 50%;
    animation: animate 2s linear infinite;
}


.clock .numbers .circle{
    position: absolute;
    inset: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    z-index: 10;
}

.clock .numbers .circle i{
    position: absolute;
    width: 3px;
    height: 50%;
    background: #fff;
    transform-origin: bottom;
    transform: scaleY(0.55);
}

.clock .numbers .circle#hr i{
    transform: scaleY(0.3);
    width : 4px;
}
.clock .numbers .circle#mn i{
    transform: scaleY(0.45);
}
.clock .numbers .circle#sc i{
    width: 2px;
    transform: scaleY(0.55);
    background: #e91e63 ;
    box-shadow: 0 30px 0 #e91e63;
}


*::-webkit-scrollbar{
  display: none;
}





/* Brands Animation */

/* .scroller {
  max-width: 80%;
} */

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated='true'] {
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated='true'] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction='right'] {
  --_animation-direction: reverse;
}

.scroller[data-direction='left'] {
  --_animation-direction: forwards;
}

.scroller[data-speed='fast'] {
  --_animation-duration: 20s;
}

.scroller[data-speed='slow'] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

/* general styles */
:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-primary-100: hsl(205, 15%, 58%);
  --clr-primary-400: hsl(215, 25%, 27%);
  --clr-primary-800: hsl(217, 33%, 17%);
  --clr-primary-900: hsl(218, 33%, 9%);
}

html {
  color-scheme: dark;
}

body {
  display: grid;
  min-block-size: 100vh;
  place-content: center;
  font-family: system-ui;
  font-size: 1.125rem;
  background-color: var(--clr-primary-800);
}

.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li {
  padding: 1rem;
  background: var(--clr-primary-400);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
}